<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Movie App</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="#">Favorites</a></li>
			<li>
				<form action="/search" method="post">
					<input type="text" name="movieIdSearch" />
					<button type="submit" class="btn btn-primary">Search Movies!</button>
				</form>
			</li>
		</ul>
	</div>
</nav>