<!DOCTYPE html>
<html>
<head>
	<title>Here it is...</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
	<div class="container">
		<!-- <div class="row"> -->
			<div class="col-sm-12">
				<form action="/search" method="post">
					<input type="text" name="movieIdSearch" />
					<button type="submit" class="btn btn-primary">Search Movies!</button>
				</form>
				<% for(let i = 0; i < dataForPosters.length; i++){ %>
						<div class="col-sm-4">
							<a href="#title<%=i%>"><img src="<%= imageBaseUrl + dataForPosters[i].poster_path %>"/></a>
						</div>
				<% }; %>
			</div>
		<!-- </div> -->
	</div>

</body>
</html>